<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Suppliers</title>
</head>
<body>
<a href="/create-supplier">Create new supplier</a>
<h1>Supplier</h1>
<table border="1">
    <tr>
        <td>Name:</td>
        <td>Decription:</td>
        <td>Address:</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <th:block th:each="supplier : ${suppliers}">
        <tr>
            <td><a th:text="*{supplier.name}"></a></td>
            <td><a th:text="*{supplier.decription}"></a></td>
            <td><a th:text="*{supplier.address}"></a></td>
            <td><a th:href="@{/edit-supplier/__${supplier.supplier_id}__}" th:text="${supplier.name}">Edit</a></td>
            <td><a th:href="@{/delete-supplier/__${supplier.supplier_id}__}" th:text="${supplier.name}">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>